# Oracle Cloud Infrastructure Authentication details
# THIS IS NOT THE SAME AS YOUR NORMAL SSH KEY
# Replace with the fingerprint of your oracle key
# How to Generate an API Key: https://docs.cloud.oracle.com/en-us/iaas/Content/API/Concepts/apisigningkey.htm#two
oracle_api_key_fingerprint = "Xx:xX:Xx:xX:Xx:xX:Xx:xX:Xx:xX:Xx:xX:Xx:xX"

# Replace with the path to your private oracle key
# Do not use relative path or `~` here. Please specify the full path or you may encounter an error.
# Per issue #6 (https://github.com/mjtechguy/terransible-wirehole/issues/6) this may still occur even if
# you have the full path and permissions set. If it does, place the .pem file in this directory next to the .tf files.
# There is a .pem exclusion in the .gitignore file.
# oracle_api_private_key_path = "./oci_api_key.pem" #move file here and use if error occurs
oracle_api_private_key_path = "/home/ubuntu/.oci/oci_api_key.pem"


###################
# User OCID
# API Key Guide: https://docs.cloud.oracle.com/en-us/iaas/Content/API/Concepts/apisigningkey.htm
user_ocid = "ocid1.user.oc1..aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa"

###################
# Tenancy OCID
# API Key Guide: https://docs.cloud.oracle.com/en-us/iaas/Content/API/Concepts/apisigningkey.htm
tenancy_ocid = "ocid1.tenancy.oc1..aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa"

###################
# Compartment OCID
# This is liekly the same as the "Tenancy OCID" from above
# API Key Guide: https://docs.cloud.oracle.com/en-us/iaas/Content/API/Concepts/apisigningkey.htm
compartment_ocid = "ocid1.tenancy.oc1..aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa"

###################
# Region
# List available: https://docs.cloud.oracle.com/en-us/iaas/Content/General/Concepts/regions.htm
region = "us-ashburn-1"

###################
# Free Tier Availability Domain
# Login into OCI, go to Main Menu, "Governance", "Limits, Quotas and Usage", and find which Availability Domain
# you have a service limit of 2 for "Cores for Standard.E2.1.Micro VM Instances". Enter that AD below.
free_tier_availability_domain = "pftX:US-ASHBURN-AD-3"

###################
# Your SSH Details used to access the server
# Fill in with your own public key signature
ssh_public_key = "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQCybAAAAB"

# Fill in the path to the private key of the ssh key
ssh_private_key_path = "/home/ubuntu/.ssh/id_rsa"


## Optional
# The display name of our new machine within Oracle's console
instance_display_name = "pihole-wireguard"
